@keyframes moveBg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


html {
    background-size: 30% 30%;
    animation: moveBg 45s none infinite;
    scroll-behavior: smooth;
    background-color: black !important;
    background-image: url(/images/bg.jpeg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

body {
    background-color: transparent !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50% !important;
    }

    50% {
        background-position: 100% 50% !important;
    }

    100% {
        background-position: 0% 50% !important;
    }
}


.texto {
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.5);
}

#logo_ {
    margin: 5px;
    height: 2em;
}

#logo__ {
    margin: 5px;
    height: 1.3em;
}

.navbar-brand {
    width: auto;
}

.carousel,
.carousel-inner,
.carousel-item {
    height: 50vh;
}

.carousel-caption {
    top: 55%;
}

.carousel-indicators {
    bottom: 10%
}

#toTop {
    z-index: 0;
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 45px;
    width: 45px;
    border-radius: 100px;
    padding: 7px 0 0 0;
}

#img1 {
    filter: invert(100%);
    height: 30px;
    width: 30px;
    padding: 0;
}

#redes * {
    text-decoration: none;
    margin: 10px;
}

#copy {
    text-align: center;
}

.img_social {
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    filter: invert(1);
    transition: 0.5s;
}

.img_social:hover {
    filter: contrast(5%);
}

.text-bg-danger {
    color: #fff !important;
    background-color: RGBA(140, 90, 250, var(--bs-bg-opacity, 1)) !important;
}

.badge {
    background-color: rgb(124, 64, 255);
}

.accordion-button {
    color: rgb(171, 132, 255) !important
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}