html {
    scroll-behavior: smooth;
}

.texto {
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.5);
}

#logo_ {
    margin: 5px;
    height: 2em;
}
#logo__ {
    margin: 5px;
    height: 1.3em;
}

.navbar-brand {
    width: auto;
}

.carousel-caption {
    top: 35%;
}

.carousel-indicators {
    top: 50%
}

#toTop {
    z-index: 0;
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 45px;
    width: 45px;
    border-radius: 100px;
    padding: 7px 0 0 0;
}

#img1 {
    filter: invert(100%);
    height: 30px;
    width: 30px;
    padding: 0;
}

#redes * {
    text-decoration: none;
    margin: 10px;
}

#copy {
    text-align: center;
}

.img_social {
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    filter: invert(1);
    transition: 0.5s;
}

.img_social:hover {
    filter: contrast(5%);
}

.text-bg-danger {
    color: #fff!important;
    background-color: RGBA(140,90,250,var(--bs-bg-opacity,1))!important;
}

.badge {
    background-color: rgb(124, 64, 255);
}

.accordion-button {
    color: rgb(171, 132, 255)!important
}