/* @keyframes moveBg {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
} */

:root {
    --bs-body-font-family: 'Poppins', sans-serif !important;
}

.accordion-button:focus {
    z-index: 3;
    box-shadow: none !important;
    outline: 0;
}

html {
    scroll-behavior: smooth;
    background: #101010;
}

body {
    background-color: transparent !important;
}
.accordion-button:not(.collapsed) {
    background-color: #151515 !important;
}

.texto {
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
}

.card-footer {
    background-color: transparent !important;
}

#carrosselPrincipal {
    /* background-color: transparent !important; */
    /* animation: moveBg 1s ease infinite; */
    /* background-size: 1500% 1500%; */
    background-image: url(../images/bg.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center bottom; */
}

/* se não suportar backdrop-filter, vai ficar assim */
.navbar {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Se for suportado, vai ficar assim */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .navbar {
        background-color: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(3em);
        backdrop-filter: blur(10px);
    }
}

#logo_ {
    margin: 5px;
    height: 2em;
}

#logo__ {
    margin: 5px;
    height: 1.3em;
}

.navbar-brand {
    width: auto;
}

button.active {
    background-color: rgb(156, 110, 255) !important;
}

#toTop {
    transition: 0.4s;
    filter: opacity(0.75);
    z-index: 2;
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 45px;
    width: 45px;
    padding: 7px 0 0 0;
}

#toTop:hover::after {
    line-height: 200%;
    content: 'Início';
}

#img1 {
    filter: brightness(500%);
    height: 30px;
    width: 30px;
    padding: 0;
}

#redes * {
    text-decoration: none;
    margin: 10px;
}

#copy {
    text-align: center;
}

.img_social {
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    filter: invert(1);
    transition: 0.5s;
}

.img_social:hover {
    filter: contrast(5%);
}

.text-bg-danger {
    color: #fff !important;
    background-color: RGBA(140, 90, 250, var(--bs-bg-opacity, 1)) !important;
}

.badge {
    background-color: rgb(124, 64, 255);
}

.accordion-button {
    color: rgb(171, 132, 255) !important;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.card {
    z-index: 1;
    border: none !important;
    transition: 0.5s;
}

.card .col p {
    margin: 0;
}

.card .badge:hover {
    transition: 0.5s;
    scale: 1.05;
    cursor: default;
}

[data-bs-theme='dark'] .accordion-button::after {
    filter: brightness(250%);
}

.card:hover,
.card img:hover {
    scale: 1.02;
}

.card-img-top {
    transition: 0.4s;
    align-self: center;
}

.navbar-collapse {
    transition: none !important;
}

.navbar-collapse.show {
    transition: 1.5s cubic-bezier(0.58, 0.3, 0.005, 1) !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.95);
    display: flex;
    height: 100vh;
    width: 100%;
}

#navbarNavDropdown {
    > li {
        opacity: 0;
    }
}

.navbar-collapse.show li {
    transition: 0.8s cubic-bezier(0.58, 0.3, 0.005, 1);
    opacity: 1;
    padding: 0;
    margin-bottom: 20px;
}

.show ul li {
    font-size: 2rem;
    padding: 1rem 0;
    &:nth-child(1) {
        transition-delay: 0.75s;
    }
    &:nth-child(2) {
        transition-delay: 0.6s;
    }
    &:nth-child(3) {
        transition-delay: 0.5s;
    }
    &:nth-child(4) {
        transition-delay: 0.25s;
    }
}

.nav-link.dropdown-toggle::after {
    transition: 0.2s;
}
.nav-link.dropdown-toggle.show::after {
    transition: 0.2s;
    transform: rotate(-180deg);
}

strong {
    color: whitesmoke;
}

.card-projeto {
    display: block;
    margin: auto;
    width: 75% !important;
}
.card-projeto h5{
    font-size: 2rem;
}
.card-projeto span{
    margin-top: 1.5rem;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(0) !important;
}

.carousel-item a{
    text-decoration: none !important;
}

.card {
    margin: 1rem;
    white-space: normal;
}

.required::after {
    font-family: 'Poppins', sans-serif;
    margin-left: 0.2rem;
    color: rgb(124, 64, 255);
    content: '*';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

span {
    color: rgb(171, 132, 255);
}

button:hover {
    color: #ddd !important;
}
.roxo {
    color: rgb(171, 132, 255);
}
.btn-outline-info {
    color: rgb(171, 132, 255) !important;
    border: solid 1px rgb(171, 132, 255) !important;
}
.btn-outline-info:hover {
    color: #303030 !important;
    background-color: rgb(171, 132, 255) !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #101010;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(124, 64, 255);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .img-thumbnail {
    border: solid 2px rgb(124, 64, 255) !important ;
  }

  input:focus, textarea:focus {
    box-shadow: none !important;
    border: 1px solid rgb(124, 64, 255) !important;
  }

  #enviar {
    border: none !important;
  }

  #enviar:hover {
    background-color: #303030 !important;
  }

  #enviar:hover span {
    transition: 0.3s;
    margin-left: 0.5rem;
  }

  #enviar:active {
    background-color: #202020 !important;
  }
  #enviar:active span {
    transition: 0.3s;
    margin-left: 1.5rem;
  }