@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* variáveis */
    --gd: linear-gradient(to left top, #8c52ff 0%, #dd00ff 100%);
    --roxo: rgb(140, 82, 255);
}

html {
    /* Para o botão scrollar mais suave pela página */
    scroll-behavior: smooth;
}

body {
    background-image: url('../assets/images/image.png');
    background-position: center middle;
    background-repeat: no-repeat;
    background-size: cover;
}

.link {
    @apply text-white py-2 px-3 rounded-md text-center flex md:flex-row flex-col md:gap-3;
    align-items: center;
}

li {
    margin-bottom: 1rem;
}

.link:hover {
    background: #99009e;
    font-weight: bold;
    background: var(--gd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 400ms;
}

.text-gd {
    background: #99009e;
    background: var(--gd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr {
    margin: 1.25rem auto;
    width: 50%;
    border: 0.1rem solid #8c8c8c43;
    border-radius: 1rem;
}

/* Scroll customizado */
/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #101010;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8c52ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#toTop {
    filter: opacity(0.75);
    z-index: 2;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    height: 45px;
    width: 45px;
    padding: 7px 0 0 0;
    transition: 300ms;
    border-radius: 1rem;
    box-shadow: 0 0 0 0.125rem rgba(255, 255, 255, 0.25);
    transition: 0.4s;
}

#toTop:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

#img1 {
    margin: auto;
    filter: brightness(500%);
    height: 30px;
    width: 30px;
    transition: 300ms;
}

.card {
    @apply bg-slate-800 bg-opacity-50 flex-col flex gap-3 p-5 md:w-[25vw] rounded-xl hover:scale-105 transition-all md:m-0 m-3;
}

.techs img {
    filter: invert(1) brightness(500%) grayscale(1);
    height: 20px;
}

.btn {
    @apply py-2 px-3 text-2xl rounded-lg mx-auto font-semibold;
    transition: 0.4s;
    background: var(--gd);
    -webkit-text-fill-color: white;
}

.btn:hover {
    filter: brightness(120%);
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.btn:active {
    scale: 0.98;
    filter: brightness(75%);
}

.card-title {
    font-size: 2.25rem;
    text-align: center;
}

input,
textarea {
    @apply py-3 pl-8 rounded-lg text-2xl bg-slate-800;
}

#enviar {
    align-items: center;
    border: none !important;
}

#enviar:hover {
    background-color: #303030 !important;
}

#enviar:hover span {
    transition: 0.3s;
    margin-left: 0.75rem;
}

#enviar:active {
    background-color: #202020 !important;
}
#enviar:active span {
    transition: 0.3s;
    margin-left: 1.5rem;
}

.img_social:hover {
    filter: invert(0.5);
}
.img_social {
    height: 2.5rem;
    width: 2.5rem;
    box-sizing: border-box;
    filter: invert(1);
    transition: 0.5s;
}